.button {
  background: #6D5BD0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: none;
}

.button__wrap {
  display: flex;
  gap: 25px;
  padding-top: 30px;
}

.button__confirm {
  border-radius: 6px;
  padding: 10px 16px;
}

.button__confirm:hover,
.button__confirm:focus {
  background-color: #6E6893;
}
